//compress: false

@import "vars";

html{
    font-size: 15px;
}

body {
margin: 0;
font-family: 'Montserrat', sans-serif;
font-size: 1rem;
color: @black;

}

*,
*:after,
*:before {
    box-sizing: border-box;
}

p{
    margin: 0 0 1rem;
}

h1,h2,h3,h4,h5,h6 {
    margin: 0;
}

// Blocks

@import "blocks/container";
@import "blocks/header";
@import "blocks/logo";
@import "blocks/nav";
@import "blocks/intro";
@import "blocks/social";
@import "blocks/btn";
@import "blocks/articles";
@import "blocks/prev";
@import "blocks/statya";
@import "blocks/about";
@import "blocks/reviews";
@import "blocks/news";
@import "blocks/youtube";
@import "blocks/footer";
@import "blocks/modal";
@import "blocks/page";
@import "blocks/category";
@import "blocks/vestext";
@import "blocks/video";
@import "blocks/testcat";
@import "blocks/contacts.less";
@import "blocks/burger";


//Helpers

@import "helpers";