//main: ../style.less

.logo {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.logo__image{
    width: 200px;
    height: 79px;
    img {
        border-radius: 7%;
    }
}

.logo__text{
    color: @black;
    font-size: 0.8rem;
    font-weight: 700;
    text-align: center;
    padding-top: 5px;
    // -webkit-text-stroke: 0.3px #fff;
    color: rgba(@grey, 0.9)
}

.logo__link {
    text-decoration: none;
}