// main: ../style.less

.social {
    display: flex;
    margin-bottom: 1rem;
    flex-direction: column;
}

.social__sub {
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: .5rem;
}



.social__link {
    text-decoration: none;
    margin-right: 0.2rem;
    display: inline-block;
    
    transition: transform .2s linear;

    &:hover{
        transform: translatey(-5px);
    }

}