//main: ../style.less

.youtube{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -1rem;
}

.youtube__col{
    width: 33.33333%;
    padding: 0 1rem;

    @media @mobile{
        width: 50%;
    }

    @media @mobile-sm{
        width: 100%;
    }

}

.youtube__item{
    padding-bottom: 2rem;
}

.youtube__header{
    position: relative;
    margin-bottom: 1.3rem;

    @media @ise {
        margin-bottom: 2rem;
    }
    
}

.youtube__date{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 77px;
    height: 77px;
    background-color: @black;
    position: absolute;
    text-align: center;
    top:0;
    left:0;
    z-index: 1;
    font-size: 1.06rem;
    color: @white;
    line-height: 1.4;
}

.youtube__content{margin-bottom: 2rem;}

.youtube__photo{
    display: block;
    width: 100%;
    height: auto;
}

.youtube__title{
    margin-bottom: .3rem;
    font-size: 1.3rem;
    font-weight: 700;
    color: @black;
    text-transform: uppercase;

    a{
        color: inherit;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}

.youtube__cat {
    text-transform: uppercase;
    color: @black;
    font-size: .8rem;
    font-weight: 700;
    margin-bottom: .7rem;
    margin-top: .5rem;
}

.youtube__text{
    font-size: .8rem;
    color: @grey;
    font-weight: 300;
    line-height: 1.7;
}

.youtube__page {
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
}